################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProblemSolving/bin/Debug/net6.0
/ProblemSolving/obj
